<launch>
  <arg name="paused" default="false" />
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="rviz" default="false" />
  <arg name="view" default="iso" />

  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sweeper_robot_omni4_base_ros)/worlds/empty.world" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
  </include>

  <param name="robot_description" textfile="$(find sweeper_robot_omni4_base_ros)/urdf/sweeper_robot_omni4_base.urdf" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
  <node pkg="sweeper_robot_omni4_base_ros" type="velocity_interface_node.py" name="sweeper_omni4_velocity_interface" output="screen" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_sweeper_robot" output="screen"
        args="-urdf -param robot_description -model sweeper_robot_omni4_base -x 0 -y 0 -z 0.0" />

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find sweeper_robot_omni4_base_ros)/rviz/$(arg view).rviz" />
</launch>
